@media (max-width: 1800px) {
    .banner_img img {
        max-width: 700px;
    }
}

@media (max-width: 1600px) {
    .slider_heading1 {
        font-size: 180px;
    }
    .slider_heading2 {
        font-size: 80px;
    }
    .banner_img img {
        max-width: 580px;
    }
}

@media (max-width: 1199px) and (min-width: 991px) {
    .countdown-box {
        width: 50%;
    }
}

@media (max-width: 992px) and (min-width: 767px) {
    .facility-style-2 .facility-inner {
        display: block;
    }
}

@media (min-width: 992px) {
    .header-btm .navbar .navbar-collapse>ul>li:hover .sub-menu,
    .header-btm .navbar .navbar-collapse>ul>li:hover .sub-menu li:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in-out;
        display: block !important;
    }
    .navbar .navbar-nav .sub-menu .sub-menu {
        left: 100%;
        top: 0;
        margin-top: -11px;
    }
    .navbar .navbar-nav .dropdown_menu_left .sub-menu {
        left: auto;
        right: 100%;
    }
    .header-btm .navbar .navbar-collapse>ul>li:hover .sub-menu .sub-menu {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        display: block !important;
    }
    .sub-menu.mega-menu ul li .all-menu.dropdown-menu {
        position: static;
        border: 0;
        padding: 0;
        display: block;
        min-width: auto;
    }
    .sub-menu.mega-menu ul>li>a i {
        display: none;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        min-width: 13rem;
    }
    .header-btm .navbar .navbar-collapse ul li .mega-menu .menu-title i {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .h1,
    h1 {
        font-size: 38px;
    }
    .h2,
    h2 {
        font-size: 30px;
    }
    .h3,
    h3 {
        font-size: 26px;
    }
    .h4,
    h4 {
        font-size: 22px;
    }
    .h5,
    h5 {
        font-size: 18px;
    }
    .header-form {
        max-width: 395px;
    }
    .slider_heading1 {
        font-size: 160px;
    }
    .slider-caption {
        left: 50px;
    }
    .shop-inner-section .list .common-cart-box .common-cart-info .hover-option .add-cart-btn {
        margin-right: 7px;
    }
    .blog-tags {
        padding: 15px 0 15px 0;
    }
    .pagination {
        padding: 0px 0 30px 0;
    }
    .blog-inner-section .pagination {
        padding: 0;
    }
    .cart-table .product-quantity .input-group .quantity-number {
        border-width: 0 1px 0 1px;
        width: 108px;
        padding: 7px 0;
    }
    .error-banner {
        height: 100%;
        padding: 150px 0;
    }
    .theme-2 .slider-area {
        height: 412px;
    }
    .tab-section .nav-tabs .nav-item .nav-link {
        padding: 20px 15px;
    }
    .tab-section .nav-tabs .nav-item .nav-link::before {
        border-width: 16px 0 16px 20px;
    }
    .servicebox h5 {
        font-size: 14px;
    }
    .header-3 .header-logo img {
        max-width: 100%;
    }
    .header-options>li>a {
        font-weight: normal;
        margin-left: 10px;
        font-size: 14px;
    }
    .facility-style-2 .facility-inner {
        padding: 10px;
    }
    .title-style-2 {
        margin-bottom: 40px;
    }
    .title-style-2 h4 {
        font-size: 50px;
    }
    .menu_style1 .navbar .navbar-collapse>ul>li>a {
        padding: 30px 10px;
    }
}

@media (max-width: 991px) {
    .h1,
    h1 {
        font-size: 34px;
    }
    .h2,
    h2 {
        font-size: 28px;
    }
    .h3,
    h3 {
        font-size: 24px;
    }
    .h4,
    h4 {
        font-size: 20px;
    }
    .h5,
    h5 {
        font-size: 16px;
    }
    section {
        padding: 20px 0;
    }
    .pb_large {
        padding-bottom: 40px;
    }
    .pt_large {
        padding-top: 40px;
    }
    .pb_medium {
        padding-bottom: 20px;
    }
    .pt_medium {
        padding-top: 20px;
    }
    .pb_small {
        padding-bottom: 20px;
    }
    .pt_small {
        padding-top: 20px;
    }
    .header-btm {
        border-bottom: 0;
        height: 0;
    }
    .header-btm.header_bottom {
        height: auto;
    }
    .slider-area {
        height: 400px;
    }
    .slider-caption {
        left: 0;
    }
    .review-slider {
        padding: 20px;
    }
    .news-box.box-3 {
        margin-top: 30px;
    }
    .facility-inner {
        text-align: center;
    }
    .fb-icon {
        padding: 0;
        display: block;
    }
    .fb-text {
        display: block;
    }
    .fb-title {
        margin-bottom: 10px;
    }
    .footer-box.box-1,
    .footer-box.box-2,
    .footer-box.box-3 {
        padding-bottom: 30px;
    }
    .header-form {
        display: none;
    }
    .search-form-2 {
        display: inline-block;
    }
    .header-logo a img {
        width: 80%;
    }
    .related-product .product-box {
        margin-bottom: 30px;
    }
    .related-product {
        padding-bottom: 40px;
    }
    .quickview-section {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
    }
    .submenu-img a {
        width: 100%;
    }
    .submenu-img {
        max-width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .quickview-product-detail {
        width: 100%;
        padding: 30px 0 0 0;
    }
    .quickview-cart-btn img {
        max-width: 25px;
    }
    .quickview-section>ul {
        margin: 0 auto;
    }
    .sp-large {
        border: 1px solid #ddd;
    }
    .sp-thumbs {
        display: -ms-flexbox;
        display: flex;
        line-height: 0;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .sp-thumbs a {
        border: 1px solid #ddd;
        margin: 0 10px !important;
    }
    .quantity-box {
        padding: 0 0 15px 0;
    }
    .input-group .btn-default {
        width: 35px;
        font-size: 30px;
    }
    .blog-sidebar .side-box {
        margin-bottom: 30px;
    }
    .blog-sidebar .side-box:last-child {
        margin-bottom: 0;
    }
    .shop-sidebar {
        margin: 0 -15px;
    }
    .leave-reply-form {
        margin: 0 -15px 30px;
    }
    .side-comments .sc-comment:last-child {
        margin: 0;
    }
    .leave-reply {
        padding-top: 30px;
    }
    .contact-details {
        padding-top: 40px;
    }
    .event-box {
        padding: 0;
    }
    .compare-box .table {
        margin: 0;
        width: 800px;
    }
    .arror-img img {
        width: 60%;
    }
    .error-text {
        margin-top: 20px;
    }
    .error-banner {
        padding: 80px 0;
    }
    .checkout-inner-page {
        padding-bottom: 70px;
    }
    header .navbar {
        display: block;
    }
    header .navbar .header_logo {
        display: inline-block;
    }
    header .navbar .navbar-toggler,
    header .navbar .header-right {
        float: right;
        margin: 18px 0;
        margin-left: 1rem !important;
        padding: 0 !important;
    }
    .header-btm .navbar .navbar-toggler {
        padding: 10px 0;
    }
    .header-btm .navbar .navbar-collapse {
        background-color: #363f4d;
        position: absolute;
        right: -15px;
        left: -15px;
        top: 100%;
        overflow-y: auto;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }
    .header-btm .navbar .navbar-collapse>ul>li>a {
        margin: 0;
        padding: 9px 15px;
        color: #fff !important;
        transition: all 0s ease-in-out;
    }
    .header-btm .navbar .navbar-collapse>ul>li>a:hover,
    .header-btm .navbar .navbar-collapse>ul>li.active>a,
    .header-btm .navbar .navbar-collapse>ul>li.show>a {
        background-color: #eb3e32;
        color: #fff !important;
    }
    .header-btm .navbar .navbar-collapse>ul>li>a i {
        float: right;
    }
    .sub-menu {
        width: 100%;
        border-radius: 0;
        padding: 10px 15px 10px 15px;
        border: none;
        margin: 0;
        transition: all 0.3s ease-in-out;
    }
    .header-btm .navbar .navbar-collapse>ul>li.show .sub-menu {
        opacity: 1;
        visibility: visible;
    }
    .sub-menu.mega-menu .all-menu {
        display: none;
    }
    .sub-menu.mega-menu>ul {
        display: block !important;
    }
    .navbar-expand-lg .navbar-nav .mega-menu>ul>li {
        float: none;
        width: 100%;
        padding: 0;
    }
    .menu-title {
        margin: 0;
        pointer-events: visible;
        display: block;
        color: #000;
        transition: all 0.3s ease-in-out;
        padding: 6px 0;
        text-transform: capitalize;
    }
    .header-btm .navbar .navbar-collapse>ul>li.show>a i.fa.fa-angle-right {
        display: inline-block;
    }
    .header-btm .navbar .navbar-collapse>ul>li.show>a i.fa.fa-angle-down {
        display: none;
    }
    .header-banner {
        margin-top: 10px;
    }
    .tab-form-4 .btn-primary {
        float: none;
        margin-top: 3px;
    }
    .place-oreder-btn {
        margin-bottom: 50px;
        margin-top: 40px;
    }
    .sub-menu.mega-menu .submenu-links.show .all-menu {
        display: block;
    }
    .sub-menu.mega-menu .submenu-links .all-menu li a {
        display: block;
        padding: 5px 15px;
        margin: 0;
    }
    .sub-menu.mega-menu .submenu-links .all-menu {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .mega-menu .dropdown {
        border-right: 0;
    }
    .header-btm .navbar .navbar-nav li .sub-menu a i.fa.fa-angle-down,
    .header-btm .navbar .navbar-nav li .sub-menu li.show a i.fa.fa-angle-right {
        display: block;
    }
    .header-btm .navbar .navbar-nav li .sub-menu a i.fa.fa-angle-right,
    .header-btm .navbar .navbar-nav li .sub-menu li.show a i.fa.fa-angle-down {
        display: none;
    }
    .sub-menu {
        padding: 5px 15px 5px 15px;
    }
    .all-menu>li>a {
        padding: 6px 0px;
    }
    .sub-menu.mega-menu ul>li>a i {
        float: right;
    }
    .sub-menu.mega-menu ul>li.show>a i.fa.fa-angle-down {
        display: none;
    }
    .sub-menu.mega-menu ul>li.show>a i.fa.fa-angle-right {
        display: inline-block;
    }
    .categories_menu .categories-btn {
        position: absolute;
        right: 0px;
        top: -38px;
        padding: 4px 10px;
    }
    .categories_menu .categories-btn i {
        font-size: 24px;
        padding-right: 0;
    }
    .categories_menu span {
        font-size: 0;
    }
    .menu_style1 .navbar .navbar-collapse>ul>li>a::before {
        content: normal;
    }
    .breadcrumbs h1 {
        font-size: 30px;
    }
    .breadcrumbs-section {
        padding: 55px 0;
    }
    .quantity_filter .minus,
    .quantity_filter .plus,
    .quantity_filter .qty {
        float: none;
        display: table;
    }
    .quantity_filter .qty,
    .minus,
    .plus {
        width: 35px;
    }
    .send-btn {
        margin-left: 10px;
    }
    .footer-top {
        padding: 40px 0;
    }
    .scrollup {
        bottom: 15px;
        font-size: 26px;
        height: 40px;
        line-height: 42px;
        right: 10px;
        width: 40px;
    }
    .side-box {
        margin-bottom: 30px;
    }
    .theme-2 .slider-area {
        height: 294px;
    }
    .shop-hover-text {
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
    }
    .shop-hover-text .btn {
        padding: 8px 15px;
        margin-top: 15px;
    }
    .shop-hover-text p {
        display: none;
    }
    .col-md-6:nth-of-type(n+3) .news-wrap {
        margin-top: 30px;
    }
    .testimonial {
        padding: 80px 0 80px 195px;
    }
    .testimonial .testimonial-img {
        left: 50px;
    }
    .testimonial .description::before {
        top: -50px;
    }
    .testimonial::before,
    .testimonial::after {
        width: 270px;
    }
    .tab-section .nav-tabs .nav-item .nav-link {
        padding: 15px 10px;
        font-size: 14px;
    }
    .tab-section .nav-tabs .nav-item {
        padding: 5px 0;
    }
    .servicebox {
        margin-top: 50px;
    }
    div[class*=col-]:nth-child(-n+2) .servicebox {
        margin-top: 0;
    }
    .slider-width.width-half {
        -ms-flex: 66.666667%;
        flex: 66.666667%;
        max-width: 66.666667%;
    }
    .m_menu {
        position: absolute;
        right: 0px;
        left: 0px;
        top: 11px;
    }
    .header-btm .m_menu .navbar .navbar-collapse {
        margin-top: 12px;
    }
    .header-form.search_wrap {
        z-index: 99;
        top: 50px;
        right: auto;
        left: 15px;
    }
    footer div[class*=col-]:first-child .footer_widget {
        margin-top: 0;
    }
    .footer_widget {
        margin-top: 20px;
    }
    .right-side-section {
        margin-top: 30px;
    }
    .title-style-2 {
        margin-bottom: 30px;
    }
    .title-style-2 h4 {
        font-size: 40px;
    }
    .slider_heading1 {
        font-size: 130px;
    }
    .slider_heading2 {
        font-size: 50px;
    }
    .deal_section {
        padding: 25px;
    }
    .countdown_box .countdown {
        font-size: 40px;
    }
    .countdown_content::before {
        font-weight: 400;
    }
    .deal_section::before {
        height: 65px;
        width: 65px;
        border: 4px solid #fff;
    }
}

@media (max-width: 767px) {
    .h1,
    h1 {
        font-size: 30px;
    }
    .h2,
    h2 {
        font-size: 26px;
    }
    .h3,
    h3 {
        font-size: 22px;
    }
    .h4,
    h4 {
        font-size: 18px;
    }
    .popup-form {
        position: relative;
        width: 100%;
        z-index: 9;
    }
    .popup-img {
        width: 0;
    }
    .newsletter-pop-up:before {
        content: "";
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%;
        left: 0;
    }
    .main-popup {
        padding: 0 100px;
    }
    .banner_slide_content.center-align {
        left: 0;
    }
    .client-img {
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
        float: none;
    }
    .client-text {
        padding-left: 0;
    }
    .review-box {
        text-align: center;
    }
    .facility-box.box-2::before {
        content: none;
    }
    .facility-box {
        margin: 15px 0;
    }
    .footer-btm {
        padding: 15px 0;
        text-align: center;
    }
    .fb-icon {
        font-size: 30px;
    }
    .footer-box.box-4 {
        padding-top: 0;
    }
    .footer-box.box-4 {
        padding-bottom: 30px;
    }
    .cart-icon span {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 10px;
        right: 0;
    }
    header .navbar .navbar-toggler,
    header .navbar .header-right {
        margin: 22px 0;
    }
    .header-cart>a {
        font-size: 16px;
    }
    .cart-icon {
        padding-right: 5px;
    }
    .cart-icon img {
        width: 25px;
    }
    .products-tabs .nav li {
        margin-bottom: 4px;
    }
    .products-tabs .tab-content {
        margin: 0;
    }
    .add-review-form .input-1,
    .add-review-form .input-2 {
        width: 100%;
        float: none;
    }
    .showing-items,
    .sorting-option {
        display: inline-block;
    }
    .showing-items p {
        font-size: 12px;
    }
    .list_grid-btns a {
        width: 30px;
        height: 30px;
        font-size: 24px;
        line-height: 34px;
    }
    .sorting-items {
        padding: 4px 25px 5px 5px;
    }
    .blog-inner-section .pagination {
        padding-top: 10px;
    }
    .shop-inner-section .list .common-cart-img {
        float: none;
        width: 200px;
        margin: 0 auto;
    }
    .shop-inner-section .list .common-cart-box .common-cart-info {
        padding: 15px 0 0 0;
        text-align: center !important;
    }
    .product-list-text {
        padding: 5px 0 15px 0;
    }
    .quickview-product-detail .box-title {
        font-size: 24px;
    }
    .white-popup .mfp-close {
        right: 0px;
        top: 0px;
    }
    .quickview-popup {
        padding: 30px;
    }
    .leave-reply-form .input-1,
    .leave-reply-form .input-2,
    .leave-reply-form .input-3 {
        width: 100%;
    }
    .about-info {
        margin-top: 20px;
    }
    .event-box.box-1,
    .event-box.box-2 {
        margin-bottom: 30px;
    }
    .cart-table .row-1 .row-title:first-child {
        display: none;
    }
    .cart-table .row-img {
        display: none !important;
    }
    .tab-form-1 .new-cous,
    .tab-form-1 .checkout-form {
        width: 100%;
        float: none;
        padding: 0;
    }
    .col-padding {
        margin: 0;
    }
    .form-title {
        padding-bottom: 15px;
    }
    .tab-form-1 .checkout-form {
        margin-top: 20px;
    }
    .tab-form-2 .checkout-form>div.form-check label {
        margin: 0 20px 15px 0px;
    }
    .tab-form-3 .checkout-form>button {
        margin: 0;
    }
    .tab-form-2 .checkout-form .input-7,
    .tab-form-3 .checkout-form .input-7 {
        margin-bottom: 15px;
    }
    .same-hover {
        margin-bottom: 15px;
    }
    .offer-banners [class*="col-"]:last-child .same-hover,
    .banner-section [class*="col-"]:last-child .same-hover {
        margin-bottom: 0;
    }
    .news-info {
        padding: 15px;
    }
    .breadcrumbs h1 {
        font-size: 24px;
    }
    .same-nav.owl-theme .owl-nav button i {
        width: 30px;
        height: 30px;
        font-size: 26px;
        line-height: 28px;
    }
    .same-nav.owl-theme .owl-nav button.owl-prev {
        right: 35px;
    }
    .news-info h5 {
        font-size: 16px;
    }
    .checkout-process .card-body {
        padding: 20px;
    }
    .new-cous {
        margin-bottom: 20px;
    }
    .send-btn {
        margin-left: 0;
        margin-top: 10px
    }
    .shop-options {
        padding-bottom: 30px;
    }
    .news-details .comments {
        font-size: 14px;
    }
    .cart-table .table-bordered td,
    .cart-table .table-bordered th {
        padding: 10px;
    }
    .cart-inner-box.box-1 {
        margin-bottom: 15px;
    }
    .banner-section .shop-hover {
        margin-top: 20px;
    }
    .banner-section div[class*=col-]:first-child .shop-hover {
        margin-top: 0px;
    }
    .sale-slider {
        margin-top: 30px;
    }
    .theme-2 .slider-caption {
        padding: 0 20px;
    }
    .testimonial {
        padding: 20px;
    }
    .testimonial:before,
    .testimonial:after {
        width: 100%;
        height: 100%;
    }
    .testimonial .testimonial-img {
        position: static;
        float: left;
    }
    .testimonial .testimonial-content {
        padding-left: 20px;
        overflow: hidden;
    }
    .testimonial-slider.owl-theme .owl-dots {
        position: static;
        margin-top: 20px !important;
    }
    .testimonial .testimonial-title {
        float: right;
        text-align: right;
    }
    .accordion .same-nav.owl-theme .owl-nav button {
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .accordion .same-nav.owl-theme .owl-nav button.owl-prev {
        right: auto;
        left: 0;
    }
    #tab-accordion .collapse:not(.show) {
        opacity: 0;
        height: 0;
        display: block;
        visibility: hidden;
    }
    .contact-box {
        margin-top: 15px;
    }
    div[class*="col-"]:first-child .contact-box {
        margin-top: 0;
    }
    .offer-section .shop-hover {
        margin-top: 30px;
    }
    .offer-section div[class*="col-"]:first-child .shop-hover {
        margin-top: 0;
    }
    .facility-style-2 .facility-inner .fb-icon {
        padding-right: 15px;
    }
    .facility-style-2 .facility-inner {
        text-align: left;
    }
    .large_txt {
        font-size: 50px;
    }
    .search-wrap .search-box,
    .search-wrap button,
    .closs-toggle {
        font-size: 30px;
    }
    .title-style-2 h4 {
        font-size: 30px;
    }
    .nav-tabs.tab-style-1 .nav-link {
        margin: 0 5px;
        padding: 10px 10px;
        font-size: 14px;
    }
    .nav-tabs.tab-style-1 .nav-item::before {
        content: normal;
    }
    .blog-wrap .title a {
        font-size: 22px;
    }
    .facility_box {
        margin: 10px 0;
    }
    .slider_heading1 {
        font-size: 100px;
    }
    .slider_heading2 {
        font-size: 40px;
    }
    .banner_img img {
        max-width: 500px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 50px;
        height: 50px;
    }
    .deal_img {
        margin-bottom: 50px;
    }
    .deal_section .countdown_time {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    body,
    p {
        font-size: 14px;
    }
    .slider-caption p {
        padding: 10px 0 12px;
    }
    .btn {
        padding: 8px 15px;
        font-size: 14px;
    }
    .next_post i {
        margin-left: 8px;
        font-size: 16px;
    }
    .prev_post i {
        margin-right: 8px;
        font-size: 16px;
    }
    .btn+.btn {
        margin-left: 5px;
    }
    .slider-area.area-1,
    .slider-area.area-2,
    .slider-area.area-3 {
        padding: 70px 0;
    }
    .popup-logo {
        width: 90%;
        margin: 0 auto;
    }
    .popup-logo img {
        max-width: 100%;
    }
    .main-popup {
        padding: 0;
    }
    .title h2 {
        margin-bottom: 30px;
    }
    .hover-icon li a {
        width: 35px;
        height: 35px;
        line-height: 36px;
        font-size: 16px;
    }
    .review-slider.owl-theme .owl-dots {
        margin-top: 20px !important;
    }
    .subscribe-form {
        text-align: center;
    }
    .subscribe-input input {
        height: 38px;
    }
    .subscribe-inner>p {
        padding-bottom: 20px;
    }
    .subscribe-input {
        max-width: 100%;
    }
    .send-btn button {
        padding: 8px 15px;
    }
    .ftb-3,
    .ftb-4 {
        width: 50%;
    }
    .copyright {
        padding-bottom: 5px;
    }
    .header-logo {
        text-align: center;
        padding-bottom: 15px;
    }
    header .navbar .header_logo img {
        max-width: 140px;
    }
    header .navbar .navbar-toggler,
    header .navbar .header-right {
        margin: 15px 0;
    }
    header .navbar .header-cart,
    header .navbar .header-right {
        position: static;
    }
    header .navbar .header-cart .cart-box,
    header .navbar .header-cart:hover .cart-box {
        left: auto;
        right: 0;
        top: 100%;
    }
    .search-form-2 {
        float: right;
        padding: 0;
    }
    .header-cart:hover .cart-box {
        left: 0;
    }
    .list-unstyled li a {
        font-size: 14px;
    }
    .hover-icon.box-like {
        display: inline-block;
        width: 100%;
    }
    .hover-icon.box-social {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
    }
    .box-social-like .hover-icon.box-social li a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
    }
    .quantity-box {
        margin-bottom: 15px;
    }
    .quickview-product-detail .stock {
        padding: 15px 0 10px 0;
        margin-top: 14px;
    }
    .lr-popup h4 {
        padding-bottom: 22px;
    }
    .quantity-box p {
        padding: 8px 14px 6px 0px;
    }
    .quantity-box .input-group {
        margin: 4px 20px 10px 0;
    }
    .input-group .btn-default {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }
    .related-product {
        padding-bottom: 50px;
    }
    .related-product {
        padding-bottom: 20px;
    }
    .related-product .row:nth-child(2)>div {
        width: 50%;
    }
    .reviews-date {
        padding: 5px 0;
    }
    .costomer-reviews-box {
        padding: 20px 0;
    }
    .tab-title p {
        padding-bottom: 15px;
    }
    .table-responsive tr td:nth-child(1),
    .table-responsive tr td:nth-child(2) {
        padding: 10px 10px;
    }
    .products-tabs .tab-content {
        padding: 18px 15px 25px;
    }
    .blog-inner-section .pagination {
        padding-top: 10px;
    }
    .pagination li a {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .pagination li a i {
        line-height: 34px;
    }
    .same-nav.owl-theme .owl-nav button {
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .same-nav.owl-theme .owl-nav button.owl-prev {
        right: auto;
        left: 0;
    }
    .shop-sidebar {
        display: inline-block;
        margin: 0;
        width: 100%;
    }
    .list_grid-btns button {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }
    .shop-options {
        padding-bottom: 30px;
        text-align: center;
    }
    .shop-list_grid {
        padding-top: 5px;
    }
    .latest-posts {
        padding-top: 30px;
    }
    .blog_with_sidebar_2-inner-section .news-box {
        display: inline-block;
        width: 100%;
    }
    .blog_with_sidebar_2-inner-section .news-img,
    .blog_with_sidebar_2-inner-section .news-info {
        width: 100%;
    }
    .contact-details {
        padding-top: 30px;
    }
    .contact-form>div {
        padding: 0;
    }
    .contact-form {
        margin: 0;
    }
    .contact-form .input-1,
    .contact-form .input-2,
    .contact-form .input-3,
    .contact-form .input-4 {
        width: 100%;
        float: none;
        padding: 0;
    }
    .counter-inner {
        margin-bottom: 20px;
    }
    .counter-inner:last-child {
        margin-bottom: 0;
    }
    .counter-inner {
        width: 100%;
        display: inline-block;
    }
    .counters-section {
        padding: 40px 0;
    }
    .counter-inner .counter {
        font-size: 36px;
    }
    .counter-inner p {
        font-size: 16px;
    }
    .contact-locations li span {
        width: 35px;
        height: 35px;
        font-size: 18px;
        line-height: 35px;
    }
    .compare-box tr td {
        padding: 13px 10px;
    }
    .cart-table thead {
        display: none;
    }
    .cart-table tbody tr td {
        display: block;
    }
    .cart-table tbody tr td:before {
        content: attr(data-title) " :";
        font-weight: 400;
        color: #000;
        float: left;
        font-size: 14px;
    }
    .cart-table tbody tr td p,
    .cart-table tbody tr td a,
    .cart-table tbody tr td p,
    .cart-table tbody tr td .input-group {
        display: block;
        margin-left: auto;
        text-align: right;
    }
    .cart-table .product-quantity .input-group .quantity-number {
        border-width: 1px 0 1px 0;
        padding: 0;
        height: 30px;
        width: 50px;
    }
    .cart-table .table-bordered td,
    .cart-table .table-bordered th {
        border: 0 !important;
    }
    .cart-table tbody tr {
        border: 1px solid #cacaca;
    }
    .cart-table tfoot {
        border: 1px solid #cacaca;
    }
    .row-close.close-2 {
        display: none;
    }
    .ci-title p {
        padding: 10px 20px;
    }
    .cart-table .product-name p {
        text-align: right;
    }
    .order-review-table .table {
        width: 575px;
    }
    .col-padding {
        padding: 25px 25px;
        width: 100%;
    }
    .form-title p {
        font-size: 16px;
    }
    .checkout-inner-page {
        padding-bottom: 50px;
    }
    .cart-img {
        max-width: 74px;
    }
    .cart-box {
        left: 0;
        padding: 15px;
        width: 310px;
    }
    .header-cart:hover .cart_box_left,
    .header-cart .cart_box_left {
        left: auto !important;
        right: 4px !important;
    }
    .place-oreder-btn a {
        padding: 15px 30px;
        font-size: 16px;
    }
    .place-oreder-btn {
        margin-top: 30px;
    }
    .quickview-product-detail .box-title,
    .breadcrumbs h1 {
        font-size: 20px;
    }
    .about-points li span {
        font-size: 18px;
    }
    .about-points li {
        margin-top: 10px;
    }
    .scrollup {
        bottom: 15px;
        font-size: 26px;
        height: 40px;
        line-height: 38px;
        right: 15px;
        width: 40px;
    }
    .quantity_filter {
        margin: 0 0 0 auto;
    }
    .reviews-img img {
        border: 3px solid #e2dede;
        max-width: 60px;
    }
    .reviews-text {
        padding-left: 15px;
    }
    .theme-2 .header-logo {
        text-align: left;
    }
    .categories_menu .categories-btn {
        top: -88px;
    }
    .col-sm-6 .news-wrap {
        margin-top: 30px;
    }
    .col-sm-6:first-child .news-wrap {
        margin-top: 0;
    }
    .news-wrap .news-wrap-img img {
        width: 100%;
    }
    div[class*=col-]:nth-child(-n+2) .servicebox {
        margin-top: 50px;
    }
    div[class*=col-]:first-child .servicebox {
        margin-top: 0;
    }
    .header-options {
        text-align: center;
    }
    .follow-box {
        max-width: 350px;
    }
    .slider-type-3 .slider-area {
        height: 300px;
    }
    .large_txt {
        font-size: 40px;
    }
    .slider-type-4 .item::after {
        left: 15px;
        right: 15px;
        top: 15px;
        bottom: 15px;
    }
    .slider-type-4 .owl-theme .owl-nav button {
        top: auto;
        bottom: 20px;
    }
    .slider-type-4 .owl-theme .owl-nav button.owl-prev {
        left: 30px;
    }
    .slider-type-4 .owl-theme .owl-nav button.owl-next {
        right: auto;
        left: 40px;
    }
    .header-5 div[class*=col-] {
        padding: 0 10px;
    }
    .header-5 .header-menu a {
        font-size: 24px;
    }
    .header-5 .header-option>li {
        margin-left: 2px;
    }
    .header-5 .header-option>li>a {
        font-size: 20px;
    }
    .search-wrap .search-box,
    .search-wrap button,
    .closs-toggle {
        font-size: 24px;
    }
    .search-wrap {
        left: 40px;
        right: 40px;
    }
    .mouse-down {
        bottom: 30px;
    }
    .title-style-2 h4 {
        font-size: 20px;
    }
    .countdown-box {
        padding: 5px 0;
    }
    .countdown-box {
        width: 50%;
    }
    .nav-tabs.tab-style-1 .nav-item,
    .nav-tabs.tab-style-2 .nav-item {
        width: 50%;
        margin-top: 10px;
        text-align: center;
    }
    .nav-tabs.tab-style-1 .nav-item:nth-child(-n+2),
    .nav-tabs.tab-style-2 .nav-item:nth-child(-n+2) {
        margin-top: 0px;
    }
    .nav-tabs.tab-style-1,
    .nav-tabs.tab-style-2 {
        margin-bottom: 30px;
    }
    .nav-tabs.tab-style-2 {
        margin-left: -10px;
        margin-right: -10px;
    }
    .nav-tabs.tab-style-2 .nav-item {
        padding-right: 10px;
        margin-right: 0;
        padding-left: 10px;
    }
    .show-all-wrap {
        margin-top: 0;
    }
    .blog-wrap .title a {
        font-size: 18px;
    }
    .blog-wrap .description,
    .blog-wrap .comments-time {
        margin-bottom: 15px;
    }
    .subscribe-popup-form input {
        padding: 8px 18px;
    }
    .news-box {
        margin-bottom: 15px;
    }
    .banner_img img {
        max-width: 480px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .h1,
    h1 {
        font-size: 26px;
    }
    .h2,
    h2 {
        font-size: 24px;
    }
    .h3,
    h3 {
        font-size: 20px;
    }
    .title h4 {
        margin-bottom: 20px;
    }
    .header-cart,
    li.header-cart {
        position: static;
    }
    .header-right {
        position: relative;
    }
    .header-cart:hover .cart-box {
        left: 0;
        right: 0;
    }
    .header-form.search-open {
        right: 0;
        max-width: 95%;
        left: 0;
        margin: 20px auto 0;
    }
    .quickview-cart-btn {
        float: none;
    }
    .cart-table .table-btn li a i {
        font-size: 16px;
    }
    .products-tabs .nav {
        display: block;
        text-align: center;
    }
    .shop-inner-section .list .common-cart-box .common-cart-info .hover-option .add-cart-btn {
        margin-right: 15px;
    }
    .showing-items {
        display: block;
    }
    .showing-items p {
        padding: 5px 0 0 0;
    }
    .header_list li {
        margin-right: 6px;
        padding-right: 6px;
    }
    .header_list li a {
        font-size: 14px;
    }
    .header_list li a i {
        padding-right: 5px;
        font-size: 14px;
    }
    .comments a:first-child {
        margin-right: 10px;
    }
    .popup-form {
        padding: 0 15px;
    }
    .client-text a {
        font-size: 16px;
    }
    .servicebox {
        margin-top: 40px;
    }
    div[class*="col-"]:first-child .servicebox {
        margin-top: 0;
    }
    .coupencode-wrap h2 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .theme-3 section,
    .theme-3 footer {
        padding: 15px 0px;
        margin: 15px 15px;
    }
    .offer-section .shop-hover {
        margin-top: 15px;
    }
    .fancy-img {
        width: 80px;
    }
    .fancy-box {
        margin: 4px 4px 4px 40px;
    }
    .footer-top {
        padding: 30px 0;
    }
    .follow-box {
        max-width: 270px;
    }
    .search-wrap .search-box,
    .search-wrap button,
    .closs-toggle {
        font-size: 18px;
    }
    .search-wrap {
        left: 20px;
        right: 20px;
    }
    .large_txt {
        font-size: 30px;
    }
    .site-logo img {
        max-width: 140px;
    }
    header.header-5 {
        top: 30px;
    }
    .title-style-2 {
        margin-bottom: 20px;
    }
    .title-style-2 h4 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .fancy-box-style-2 .fancy-wrap::after {
        font-size: 80px;
    }
    .logo_wrap {
        margin-bottom: 30px;
    }
    .countdown_box .countdown {
        font-size: 40px;
    }
    .countdown_content::before {
        font-size: 32px;
        top: 10px;
    }
    .cs_content_box .countdown_time {
        padding: 15px 10px;
        margin: 20px 0;
    }
    .full_screen {
        min-height: 30rem;
    }
    .banner_img img {
        max-width: 90%;
    }
}

@media (max-width: 479px) {
    .categories-btn {
        padding: 12px 15px;
    }
    #sidebar {
        width: 280px;
    }
    .testimonial .testimonial-img {
        position: static;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .testimonial .testimonial-content {
        padding-left: 0;
        overflow: hidden;
        padding-top: 20px;
        text-align: center;
    }
    .testimonial .testimonial-title {
        float: none;
        text-align: center;
    }
    .nav-style-2.owl-theme .owl-nav button {
        padding: 10px 10px !important
    }
    .slider.full-screen .carousel-item {
        min-height: auto;
        height: 450px;
    }
    .slider_heading1 {
        font-size: 60px;
    }
    .slider_heading2 {
        font-size: 30px;
    }
    .slider .slider_text {
        position: relative;
        top: -100%;
    }
    .banner_img img {
        max-width: 60%;
    }
    .slider_caption h1,
    .slider_heading3 {
        font-size: 26px;
    }
    .slider_strip {
        font-size: 14px;
    }
    .slider_caption {
        padding: 15px;
        margin: 5px;
    }
    .slider_caption::before {
        margin: -8px;
    }
}

@media (max-width: 380px) {
    .header-cart .cart-box {
        width: 100%;
        max-width: 310px;
    }
    .header-5 .header-cart .cart-box {
        min-width: 310px;
        right: -20px !important;
    }
    .header-options>li>a {
        margin-left: 3px;
        font-size: 12px;
    }
    .fancy-img {
        position: static;
        float: none;
        margin-bottom: 15px;
    }
    .fancy-box {
        margin: 4px;
        padding: 20px 20px 20px 20px;
    }
    .fancy-wrap::after {
        font-size: 100px;
        line-height: 75px;
    }
    .menu-wrap #mega-dropdown-menu {
        min-width: 19rem;
    }
    .large_txt {
        font-size: 24px;
    }
    .product-info .countdown-time {
        margin-top: 0px;
        margin-left: -11px;
        margin-right: -11px;
    }
    .fancy-box-style-2 .fancy-wrap::after {
        font-size: 60px;
        left: 20px;
    }
    .countdown_box .countdown {
        font-size: 26px;
    }
    .cs_content_box .countdown_time {
        padding: 0 10px 15px 10px;
    }
    .countdown_content::before {
        font-size: 20px;
        top: 20px;
    }
    .slider_caption h1,
    .slider_heading3 {
        font-size: 20px;
    }
}